<div class="row justify-content-center">
    <div class="col-lg-6 col-md-12">
        <div class="card mb-3">
            <h3 class="card-header">Informacion de Contacto</h3>
            <div class="card-body">
                <h6 class="card-subtitle text-muted">Nombre</h6>
                <h5 class="card-title">Rolando Leiva Montero</h5>
            </div>
            <img src="../../assets/img/Contacto.png" class="rounded" alt="ca">

            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    <div class="text">
                        <p>
                            <i class="bi bi-geo-alt">
                                <span>Dirección:</span> Habana, Cuba
                            </i>
                        </p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="text">
                        <p>
                            <i class="bi bi-telephone">
                                <span>Telefono:</span>+53 54489562
                            </i>
                        </p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="text">
                        <p>
                            <i class="bi bi-envelope">
                                <span>Correo:</span>franjosuerr@gmail.com
                            </i>
                        </p>
                    </div>
                </li>
            </ul>
        </div>